.page-header {
  font-family: 'Arial', sans-serif;
  font-size: 3rem; /* Base font size for large screens */
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
  background-color: #0052ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
